qdrant-client
rank-bm25
langchain-ollama
pydantic
neo4j
redis
fastapi
uvicorn
langgraph
llama-index
llama-parse
llama-index-graph-stores-neo4j
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-postprocessor-cohere-rerank
sentence-transformers
langchain-huggingface